.row
  .col-sm-9
    %h1 Login
.row
  .col-sm-4
    = form_tag sessions_path do |form|
      %div.form-group
        %label{:for => :email} Email address
        %input.form-control{id: "email", type: "email", placeholder: "name@example.com", name: "email"}
      %div.form-group
        %label{:for => :password} Password
        %input.form-control{id: "password", type: "password", name: "password"}
      =submit_tag 'Submit', class: 'btn btn-primary mb-2'
