.container-fluid
  .row
    .col-9
      %h1 Application
  .row
    .col-9
      - if !current_user
        %p If you want to log in...
        Click Here
        = link_to "Log In", login_path
      -else
        This is the home page
